<h1>Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<h3>Obectives:</h3>
1. List of popular languages for Data Science.
2. List of libraraies for Data Science.
3. Open sourse integrated enviroment for Data Science.

Some of the popular languages that Data Scientist use are:
1. Phyton
2. R
3. SQL

Some of the commenly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib

Data Science Tools
1. jupyter notebook
2. Rstudio
3. github

<h3>Below are some example of evaluating arithmetic expressions in python </h3>

In [1]:
(3*4)+5

#This a simple arithemtic expression to multiply then add integers.

17

In [2]:
200/60

#This will convert 200 minutes to hours by dividing by 200.

3.3333333333333335

<h2> Author: </h2>
Raz Muhammad